@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@theme {
  --font-elsie: var(--font-elsie);
  --font-quicksand: var(--font-quicksand);
  --font-poiret: var(--font-poiret);
  --font-bellota: var(--font-bellota);
  --font-lato: var(--font-lato);

  --breakpoint-hmd: 940px;
  --breakpoint-hsm: 620px;
  --breakpoint-sps: 350px;
}

@custom-variant short (@media (max-height: 600px));

@media (prefers-color-scheme: dark) {
  
}

body {
  
}
